@import url('https://fonts.googleapis.com/css?family=Muli:300,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #2b343b;
}

form {
  padding: 10px;
  width: 75%;
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 10px 20px;
  background-color: transparent;
  border: 0;
  outline: none;
  border-bottom: 2px solid #cecece;
}

input:active {
  transform: scale(1.025);
  transition: transform 0.2s ease-in-out;
}

h3 {
  margin: 15px 0;
}

button {
  padding: 15px;
  cursor: pointer;
  outline: none;
  background-color: #986cd5;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
}

.btn1 {
  width: 30%;
  align-self: center;
  margin-top: 40px;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.95);
}

.page {
  background: linear-gradient(
    to right,
    #e9e4f0,
    #a69bbe
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.app {
  background-color: #fff;
  border-radius: 20px;
  max-width: 1000px;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 20px 0;
  box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.2);
}

.app > p {
  margin-bottom: 30px;
  margin-top: 10px;
}

.nestedContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.companies {
  display: flex;
  flex-direction: column;
  width: 39%;
}

.form-control {
  position: relative;
  margin: 10px 0 0;
  width: 300px;
  padding: 0 20px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.currentInput {
  width: 95%;
}

#addBtn {
  background-color: green;
  margin-right: 5px;
}

#deleteBtn {
  background-color: red;
}

.container {
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.header {
  width: 80%;
  margin: 0 auto;
  min-height: 10vh;
  background-color: #cad5fb;
  padding: 30px;
  border-radius: 3px 3px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resumeTitle {
  opacity: 0.3;
}

.headerTitle {
  margin-bottom: 15px;
}

.resumeImage {
  vertical-align: middle;
  width: 175px;
  height: 175px;
  border-radius: 45%;
}

.resumeBody {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  min-height: 80vh;
  border: 1px solid #e0e0ea;
}

.resumeBodyTitle {
  margin-bottom: 5px;
}

.resumeBodyContent {
  text-align: justify;
  margin-bottom: 30px;
}
